body {
	background-color: #8B008B;
	background-image: url(ico.png);
	background-repeat:space;
	padding:0;
	margin:0;
}

header{
	margin-top:-20px;
	width:100%;
	height:320px;
	background-image: url("back.jpg");
	text-align: center;
	background-size: COVER;
}

header h1 {
	color:white;
	font-family:'Comic sans MS';
}

#avatar {
	border:3px solid white;
	border-radius:60px;
}

.nav {
	position: absolute;
	width:100%;
	height:70px;
	top:260px;
	text-align: center;
}

.nav a{
	color:white;
	text-decoration: none;
}
 a:visited{
	color:white;
	text-decoration: none;
}
 a:link{
	color:white;
	text-decoration: none;
}
 a:hover{
	color:white;
	text-decoration: underline;
}
.nav ul{
	padding:0;
}
.nav ul li{
	display: inline-block;
	padding:5px;
	border:2px solid white;
	color:white;
	BACKGROUND-COLOR:BLACK;

}

.content {
	background-color:#F5DEB3;
	width:600px;
	margin: auto;
	border:4px solid white;
	border-radius:10px;
	margin-top:40px;
}

.content p, .content ol li {
	padding:10px;
	text-indent: 5px
}

.nav2 {
	background-color: #F5DEB3;
	display:block;
	border:2px solid white;
}
.nav2 ul li {
	display: block;
	padding:5px;
}

.nav2 a{
	color:black;
}

#_1 {
	margin-left: 100px;
}

#_2 {
	margin-right: 100px;
}

#_3 {
	margin-left: 100px;
}

#_4 {
	margin-right: 100px;
}